body{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#55acd3;
}
form{
    
    display: flex;
    flex-direction: column;
    background-color:   white;
    border-radius: 10px;
    padding: 15px;
}
form h1{
    font-style: italic;
}
form input,a.link-cancel  {
    margin: 5px;
    padding: 10px;
}
input[type="submit"],a.link-cancel  {
    background-color: blue;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
}


table{
    border-radius: 10px;
}
thead{
    background-color: blue;
    color: wheat;
}
thead th{
   padding: 10px;
}
tbody{
    color: black;
    background-color: white;
}
.image{
    width: 35px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#55acd3;
}
main a.add{ 
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 10px;
}